@use '../../../variables.scss';

.container-component-forget-password {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component-forget-password {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    @extend %font-volkhov;    
    font-weight: 300;
}

.first-line-for-data-entry, .second-line-for-data-entry {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-first-name, .input-last-name, .input-email, .input-phone-number {
    @extend %font-poppins;
    width: 48%;
    border: none;
    border-bottom: 0.1rem solid #9D9D9D;
    color: #000000;
    font-weight: 500;
}

input::placeholder {
    color: #9D9D9D;
    font-weight: 500;
}

.redirect-buttons {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button-send-confirmation-code {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 75%;
    height: 50%;
    width: 85%;
    border-radius: 0.4rem;
    border: none;
    background-color: #000000;
    color: #ffffff;
}

.paragraph-login {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 70%;
}

.link-login {
    color: #5B86E5;
    text-decoration: none;
}

.link-login:hover {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}