<div class="container-component-forget-password">
    <div class="component-forget-password">
        <div class="container-description">
            <h2 class="description">Forget Password</h2>
        </div>
        <div class="container-input">
        <input class="input-email" type="text" placeholder="Email Address" [(ngModel)]="email" (keydown)="changeInvalidEmailState()" required>
        <p class="invalid-email-warning" *ngIf="invalidEmail">This email is not registered. Verify or create a new account.</p>        
        </div>

        <div class="redirect-buttons">
            <button class="button-send-confirmation-code" (click)="onSubmit()">Send Confirmation Code</button>
              <div class="container-paragraph-login">
                <p class="paragraph-login">Already have an account? <a href="/login/sign-in" class="link-login">Login</a></p>
            </div>
        </div>
    </div>
</div>