<div class="container-component-enter-new-password">
    <div class="component-enter-new-password">
         <div class="container-description">
            <h2 class="description">Enter Your New Password</h2>
         </div>
         <div class="container-inputs">
            <input type="text" class="input-new-password" placeholder="New Password" [(ngModel)]="newPassword" required>
            <input type="text" class="input-confirmation-password" placeholder="Confirmation Password" [(ngModel)]="confirmPassword" required>            
         </div>
         <div class="container-button-redirect">
            <button class="button-redirect" (click)="onSubmit()">Submit</button>
         </div>
    </div>
</div>