/* Tweaks for tablets */
@media (max-width: 850px ) { }


/* Tweaks for cell phones */
@media (max-width: 500px ) { 
    .container-description {
        height: 6vw;
        width: 80%;
    }

    .description {
        font-size: 6vw;
    }

    .container-inputs {
        height: 26vw;
        align-items: center;
    }

    .component-enter-new-password {
        height: 60vw;
    }

    .input-new-password, .input-confirmation-password { 
        width: 80%;
        height: 12vw;
        font-size: 3.5vw;
        padding-left: 2vw;
        border-radius: 0;
    }

    .container-button-redirect {
        height: 12vw;
    }

    .button-redirect {
        width: 80%;
        height: 12vw;
        font-size: 3.5vw;
        border-radius: 2vw;
    }
}