<div class="container-shop">
    <div class="container-sales">
        <div class="sale" *ngFor="let sale of sales.slice((currentPage * 9) - 9, currentPage * 9)" (click)="clickOnTheProduct(sale.id)">
            <div class="container-image">
                <img src="../../../../../assets{{ sale.images_path }}" alt="image" class="image">
            </div>
            <div class="container-description">
                <h5 class="description">{{ sale.description }}</h5>
                <div class="cash-price-plus-discount">
                    <p class="price-without-discount" *ngIf="sale.discount_percentage !== 0">R$ {{ sale.price }}</p>
                    <p class="price">R$ {{ (sale.discount_percentage !== 0 ? sale.price * (1 - sale.discount_percentage / 100) : sale.price) | number: '1.2-2' }}</p>
                </div>
                <p class="price-with-installments">{{ sale.number_of_interest_free_installments }}x of $ {{(sale.discount_percentage !== 0 ? sale.price * (1 - sale.discount_percentage / 100) / sale.number_of_interest_free_installments : sale.price / sale.number_of_interest_free_installments) | number: '1.2-2' }}</p>
            </div>
        </div>
    </div>
    <div class="container-others-pages">
        <div class="others-pages">
            <button class="button-double-back-arrow" (click)="backPage()"  [ngStyle]="{ 'opacity': currentPage !== 1 ? '1' : '0' }">
                <img src="../../../../../assets/shop/others-pages/double-arrow.svg" alt="double arrow" class="double-arrow">
            </button>
            <button class="page-number" (click)="changePage(page)" *ngFor="let page of displayPages" >{{ page }}</button>
            <button class="button-double-next-arrow" (click)="passPage()" [ngStyle]="{ 'opacity': numberOfPages.length > 3  && numberOfPages.length - currentPage >= 3 ? '1' : '0' }">
                <img src="../../../../../assets/shop/others-pages/double-arrow.svg" alt="double arrow" class="double-arrow">
            </button>
        </div>
    </div>
</div>