<nav-bar-with-login></nav-bar-with-login>

<div class="container-checkout">
    <div class="container-title">
        <h1 class="title-checkout">FASCO Demo Checkout</h1>
    </div>
    <div class="main">
        <div class="container-delivery-and-payment">
            <div class="container-delivery">
                <h2 class="title-delivery">Delivery</h2>
                <div class="container-inputs-delivery">
                    <input type="text" placeholder="Recipient">
                    <input type="text" placeholder="Phone Number">                    
                    <input type="text" placeholder="Postal code">
                    <input type="text" placeholder="State">
                    <input type="text" placeholder="City">
                    <input type="text" placeholder="Road">
                    <input type="text" placeholder="Add-on (optional)">
                    <input type="text" placeholder="Number">
                    <div class="container-checkbox-and-description">
                        <input type="checkbox" class="checkbox-save-address">
                        <p class="button-save-address">Save This Info For Future</p>
                    </div>
                </div>  
            </div>
        </div>
        <div class="container-payment">
        </div>
    </div>
</div>

<subscribe-to-our-newslatter></subscribe-to-our-newslatter>

<footer-bar></footer-bar>