<div class="login-page-container">
    <div class="image-container">
        <img src="../../../assets/images/image-for-login-page.jpg" alt="image" class="image-login-page">
    </div>
    <div class="login-content">
        <div class="container-mark">
            <h1 class="mark">FASCO</h1>
        </div>

        <div class="container-router-outlet">
        <router-outlet></router-outlet>
        </div>

        <div class="container-terms-and-conditions">
            <p class="terms-and-conditions">FASCO Terms & Coditions</p>
        </div>
    </div>
</div>