@use '../../../../../variables.scss';


.container-filters {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.container-main-title {
    height: 4vw;
    width: 60%;
    display: flex;
    align-items: start;
    justify-content: start;
}

.title-filters {
    @extend %font-volkhov;
    font-weight: 500;
    color: #1f1f1f;
    font-size: 2vw;
}

.filter-title {
    @extend %font-poppins;
    font-weight: 600;
    text-align: start;
    color: #292929;
    font-size: 1.05vw;
}



.container-choose-sizes, .container-choose-price_range, .container-choose-product_category, .container-choose-promotions, .container-choose-styles {
    width: 60%;
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-options-price_range, .container-options-product_category, .container-options-promotions, .container-options-styles {
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
}

.container-options-sizes {
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3vw;
}

.sizes {
    @extend %font-poppins;
    font-size: 0.8vw;
    font-weight: 500;
    color: #5c5c5c;
    height: 1.9vw;
    width: 2vw;
    border-radius: 0.4vw;
    border: none;
    border: 0.1rem solid #5c5c5c;
    background-color: transparent;
}

.price_range, .product_category, .promotions, .styles {
    @extend %font-poppins;
    font-size: 0.85vw;
    font-weight: 600;
    color: #5c5c5c;    
    border: none;
    text-align: start;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

.selected {
    color: #292929;
}

.sizeSelected {
    font-weight: 600;
    color: #ebebeb;
    background-color: #292929;
    border: 0.1vw solid #292929;
}