<div class="container-filters">
    <div class="container-main-title">
        <h2 class="title-filters">Filters</h2>
    </div>
    <div class="container-size">
        <div class="container-title">
            <h4 class="title-size">Size</h4>
        </div>
        <div class="container-chose-sizes">
            <button class="size" (click)="changeNewFilter({ size: 'S' })" *ngIf="!filterStatus.chosenSize || myFilters.size === 'S'" [ngClass]="{ 'sizeSelected': filterStatus.chosenSize, 'sizeUnselected': !filterStatus.chosenSize, }">S</button>
            <button class="size" (click)="changeNewFilter({ size: 'M' })" *ngIf="!filterStatus.chosenSize || myFilters.size === 'M'" [ngClass]="{ 'sizeSelected': filterStatus.chosenSize, 'sizeUnselected': !filterStatus.chosenSize, }">M</button>
            <button class="size" (click)="changeNewFilter({ size: 'L' })" *ngIf="!filterStatus.chosenSize || myFilters.size === 'L'" [ngClass]="{ 'sizeSelected': filterStatus.chosenSize, 'sizeUnselected': !filterStatus.chosenSize, }">L</button>
            <button class="size" (click)="changeNewFilter({ size: 'XL' })" *ngIf="!filterStatus.chosenSize || myFilters.size === 'XL'" [ngClass]="{ 'sizeSelected': filterStatus.chosenSize, 'sizeUnselected': !filterStatus.chosenSize, }">XL</button>
        </div>
    </div>
    <div class="container-prices">
        <div class="container-title">
            <h4 class="title-price">Prices</h4>
        </div>
        <div class="container-chose-prices">
            <button class="price" (click)="changeNewFilter({ price: '$0-$50' })" *ngIf="!filterStatus.chosenPrice || myFilters.price === '$0-$50'" [ngClass]="{ 'selected': filterStatus.chosenPrice, 'unselected': !filterStatus.chosenPrice, }">$0-$50</button>
            <button class="price" (click)="changeNewFilter({ price: '$50-$100' })" *ngIf="!filterStatus.chosenPrice || myFilters.price === '$50-$100'"  [ngClass]="{ 'selected': filterStatus.chosenPrice, 'unselected': !filterStatus.chosenPrice, }">$50-$100</button>
            <button class="price" (click)="changeNewFilter({ price: '$100-$150' })" *ngIf="!filterStatus.chosenPrice || myFilters.price === '$100-$150'"  [ngClass]="{ 'selected': filterStatus.chosenPrice, 'unselected': !filterStatus.chosenPrice, }">$100-$150</button>
            <button class="price" (click)="changeNewFilter({ price: '$150-$200' })" *ngIf="!filterStatus.chosenPrice || myFilters.price === '$150-$200'"  [ngClass]="{ 'selected': filterStatus.chosenPrice, 'unselected': !filterStatus.chosenPrice, }">$150-$200</button>        
            <button class="price" (click)="changeNewFilter({ price: '$300-$400' })" *ngIf="!filterStatus.chosenPrice || myFilters.price === '$300-$400'"  [ngClass]="{ 'selected': filterStatus.chosenPrice, 'unselected': !filterStatus.chosenPrice, }">$300-$400</button>
        </div>
    </div>
    <div class="container-brands">
        <div class="container-title">
            <h4 class="title-brand">Brands</h4>
        </div>
        <div class="container-chose-brands">
            <button class="brand" (click)="changeNewFilter({ brand: 'Minimog' })" *ngIf="!filterStatus.chosenBrand || myFilters.brand === 'Minimog'" [ngClass]="{ 'selected': filterStatus.chosenBrand, 'unselected': !filterStatus.chosenBrand, }">Minimog</button>
            <button class="brand" (click)="changeNewFilter({ brand: 'Retrolie' })" *ngIf="!filterStatus.chosenBrand || myFilters.brand === 'Retrolie'" [ngClass]="{ 'selected': filterStatus.chosenBrand, 'unselected': !filterStatus.chosenBrand, }">Retrolie</button>
            <button class="brand" (click)="changeNewFilter({ brand: 'Brook' })" *ngIf="!filterStatus.chosenBrand || myFilters.brand === 'Brook'" [ngClass]="{ 'selected': filterStatus.chosenBrand, 'unselected': !filterStatus.chosenBrand, }">Brook</button>
            <button class="brand" (click)="changeNewFilter({ brand: 'Learts' })" *ngIf="!filterStatus.chosenBrand || myFilters.brand === 'Learts'" [ngClass]="{ 'selected': filterStatus.chosenBrand, 'unselected': !filterStatus.chosenBrand, }">Learts</button>        
            <button class="brand" (click)="changeNewFilter({ brand: 'Vagabond' })" *ngIf="!filterStatus.chosenBrand || myFilters.brand === 'Vagabond'" [ngClass]="{ 'selected': filterStatus.chosenBrand, 'unselected': !filterStatus.chosenBrand, }">Vagabond</button>
            <button class="brand" (click)="changeNewFilter({ brand: 'Abby' })" *ngIf="!filterStatus.chosenBrand || myFilters.brand === 'Abby'" [ngClass]="{ 'selected': filterStatus.chosenBrand, 'unselected': !filterStatus.chosenBrand, }">Abby</button>            
        </div>
    </div>
    <div class="container-collections">
        <div class="container-title">
            <h4 class="title-collection">Collections</h4>
        </div>
        <div class="container-chose-collections">
            <button class="collection" (click)="changeNewFilter({ collection: 'All products' })" *ngIf="!filterStatus.chosenCollection || myFilters.collection === 'All products'" [ngClass]="{ 'selected': filterStatus.chosenCollection, 'unselected': !filterStatus.chosenCollection, }">All products</button>
            <button class="collection" (click)="changeNewFilter({ collection: 'Best sellers' })" *ngIf="!filterStatus.chosenCollection || myFilters.collection === 'Best sellers'" [ngClass]="{ 'selected': filterStatus.chosenCollection, 'unselected': !filterStatus.chosenCollection, }">Best sellers</button>
            <button class="collection" (click)="changeNewFilter({ collection: 'New arrivals' })" *ngIf="!filterStatus.chosenCollection || myFilters.collection === 'New arrivals'" [ngClass]="{ 'selected': filterStatus.chosenCollection, 'unselected': !filterStatus.chosenCollection, }">New arrivals</button>
            <button class="collection" (click)="changeNewFilter({ collection: 'Acessories' })" *ngIf="!filterStatus.chosenCollection || myFilters.collection === 'Acessories'" [ngClass]="{ 'selected': filterStatus.chosenCollection, 'unselected': !filterStatus.chosenCollection, }">Acessories</button>        
        </div>
    </div>
    <div class="container-tags">
        <div class="container-title">
            <h4 class="title-tag">Tags</h4>
        </div>
        <div class="container-chose-tags">
            <button class="tag" (click)="changeNewFilter({ tag: 'Fashion' })" *ngIf="!filterStatus.chosenTag || myFilters.tag === 'Fashion'" [ngClass]="{ 'selected': filterStatus.chosenTag, 'unselected': !filterStatus.chosenTag, }">Fashion</button>
            <button class="tag" (click)="changeNewFilter({ tag: 'Hats' })" *ngIf="!filterStatus.chosenTag || myFilters.tag === 'Hats'" [ngClass]="{ 'selected': filterStatus.chosenTag, 'unselected': !filterStatus.chosenTag, }">Hats</button>
            <button class="tag" (click)="changeNewFilter({ tag: 'Sandal' })" *ngIf="!filterStatus.chosenTag || myFilters.tag === 'Sandal'" [ngClass]="{ 'selected': filterStatus.chosenTag, 'unselected': !filterStatus.chosenTag, }">Sandal</button>
            <button class="tag" (click)="changeNewFilter({ tag: 'Belt' })" *ngIf="!filterStatus.chosenTag || myFilters.tag === 'Belt'" [ngClass]="{ 'selected': filterStatus.chosenTag, 'unselected': !filterStatus.chosenTag, }">Belt</button>        
            <button class="tag" (click)="changeNewFilter({ tag: 'Bags' })" *ngIf="!filterStatus.chosenTag || myFilters.tag === 'Bags'" [ngClass]="{ 'selected': filterStatus.chosenTag, 'unselected': !filterStatus.chosenTag, }">Bags</button>
            <button class="tag" (click)="changeNewFilter({ tag: 'Snacker' })" *ngIf="!filterStatus.chosenTag || myFilters.tag === 'Snacker'" [ngClass]="{ 'selected': filterStatus.chosenTag, 'unselected': !filterStatus.chosenTag, }">Snacker</button>
            <button class="tag" (click)="changeNewFilter({ tag: 'Denim' })" *ngIf="!filterStatus.chosenTag || myFilters.tag === 'Denim'" [ngClass]="{ 'selected': filterStatus.chosenTag, 'unselected': !filterStatus.chosenTag, }">Denim</button>
            <button class="tag" (click)="changeNewFilter({ tag: 'Minimog' })" *ngIf="!filterStatus.chosenTag || myFilters.tag === 'Minimog'" [ngClass]="{ 'selected': filterStatus.chosenTag, 'unselected': !filterStatus.chosenTag, }">Minimog</button>
            <button class="tag" (click)="changeNewFilter({ tag: 'Vagabond' })" *ngIf="!filterStatus.chosenTag || myFilters.tag === 'Vagabond'" [ngClass]="{ 'selected': filterStatus.chosenTag, 'unselected': !filterStatus.chosenTag, }">Vagabond</button>
            <button class="tag" (click)="changeNewFilter({ tag: 'Sunglases' })" *ngIf="!filterStatus.chosenTag || myFilters.tag === 'Sunglases'" [ngClass]="{ 'selected': filterStatus.chosenTag, 'unselected': !filterStatus.chosenTag, }">Sunglases</button>
            <button class="tag" (click)="changeNewFilter({ tag: 'Beachwear' })" *ngIf="!filterStatus.chosenTag || myFilters.tag === 'Beachwear'" [ngClass]="{ 'selected': filterStatus.chosenTag, 'unselected': !filterStatus.chosenTag, }">Beachwear</button>                                                                        
        </div>
    </div>    
</div>