<div class="container-filters">
    <div class="container-main-title">
        <h2 class="title-filters">Filters</h2>
    </div>
    <div class="container-size">
        <div class="container-title">
            <h4 class="title-size">Size</h4>
        </div>
        <div class="container-chose-sizes">
            <button class="size">S</button>
            <button class="size">M</button>
            <button class="size">L</button>
            <button class="size">XL</button>
        </div>
    </div>
    <div class="container-colors">
        <div class="container-title">
            <h4 class="title-color">Colors</h4>
        </div>
        <div class="container-chose-colors">
            <button class="color "></button>
            <button class="color"></button>
            <button class="color"></button>
            <button class="color"></button>
            <button class="color"></button>
            <button class="color"></button>
            <button class="color"></button>
            <button class="color"></button>
            <button class="color"></button>
            <button class="color"></button>
            <button class="color"></button>
            <button class="color"></button>
            <button class="color"></button>
            <button class="color"></button>
        </div>
    </div>
    <div class="container-prices">
        <div class="container-title">
            <h4 class="title-price">Prices</h4>
        </div>
        <div class="container-chose-prices">
            <button class="price">$0-$50</button>
            <button class="price">$50-$100</button>
            <button class="price">$100-$150</button>
            <button class="price">$150-$200</button>        
            <button class="price">$300-$400</button>
        </div>
    </div>
    <div class="container-brands">
        <div class="container-title">
            <h4 class="title-brand">Brands</h4>
        </div>
        <div class="container-chose-brands">
            <button class="brand">Minimog</button>
            <button class="brand">Retrolie</button>
            <button class="brand">Brook</button>
            <button class="brand">Learts</button>        
            <button class="brand">Vagabond</button>
            <button class="brand">Abby</button>            
        </div>
    </div>
    <div class="container-collections">
        <div class="container-title">
            <h4 class="title-collection">Collections</h4>
        </div>
        <div class="container-chose-collections">
            <button class="collection">All products</button>
            <button class="collection">Best sellers</button>
            <button class="collection">New arrivals</button>
            <button class="collection">Accessories</button>        
        </div>
    </div>
    <div class="container-tags">
        <div class="container-title">
            <h4 class="title-tag">Tags</h4>
        </div>
        <div class="container-chose-tags">
            <button class="tag">Fashion</button>
            <button class="tag">Hats</button>
            <button class="tag">Sandal</button>
            <button class="tag">Belt</button>        
            <button class="tag">Bags</button>
            <button class="tag">Snacker</button>
            <button class="tag">Denim</button>
            <button class="tag">Minimog</button>
            <button class="tag">Vagabond</button>
            <button class="tag">Sunglases</button>
            <button class="tag">Beachwear</button>                                                                        
        </div>
    </div>    
</div>