@use '../../../variables.scss';

.container-background {
    height: 100%;
    width: 100%;    
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4); /* Preto com 50% de opacidade */
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 9999999;
}

.container-shopping-cart {
    background-color: #ffffff;
    height: 96%;
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1% 2% 1% 2%;
}

.container-title {
    height: 18%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4%;
}

.container-close-card {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: end;
}

.button-close-card {
    width: 2.5%;
    height: 100%;
    border: none;
    background-color: #ffffff;
}

.img-close-cart {
    height: 100%;
    width: 100%;
}


.title-shopping-cart {
    @extend %font-volkhov;
    font-weight: 400;
}

.description-shopping-cart{
    @extend %font-poppins;
    font-weight: 300;
    font-size: 95%;
    color: #8A8A8A;
}

strong {
    color: #000000;
}

.container-my-cart {
    background-color: blue;
    height: 52%;
}

.footer-bar {
    height: 30%;
    display: flex;
    flex-direction: column;
}

.container-wrap-product {
    height: 25%;
    display: flex;
    gap: 2%;
    align-items: center;
    border-bottom: 0.1rem solid #8A8A8A;
}

.checkbox {
    height: 100%;
    width: 4%;
    border: 0.2rem solid #000000;
}

.description-whrap-product {
    @extend %font-poppins;
    color: #8A8A8A;
    font-size: 75%;
    font-weight: 400;
}

.container-subtotal-and-buttons {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-subtotal {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 30%;
    gap: 1%;
}

.title-subtotal, .subtotal-price {
    @extend %font-volkhov;
    font-weight: 200;
}

.container-buttons {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center
}

.button-checkout {
    @extend %font-poppins;
    color: #ffffff;
    font-size: 70%;
    height: 38%;
    width: 100%;
    border-radius: 0.3rem;
    background-color: #000000;
    border: none;
}

.button-view-cart {
    @extend %font-poppins;
    font-weight: 400;
    font-size: 80%;
    text-decoration: underline;
}

button:hover, a:hover, input:hover {
    cursor: pointer;
}