<div class="container-background">
    <div class="container-shopping-cart">
        <div class="container-title">
            <div class="container-close-card">
                <button class="button-close-card">
                    <img src="../../../assets/icons/icon-close-page.svg" alt="close-cart" class="img-close-cart">
                </button>
            </div>
            <h2 class="title-shopping-cart">Shopping Cart</h2>
            <p class="description-shopping-cart">Buy <strong>$122.35</strong> More And Get <strong>Free Shipping</strong></p>
        </div>
        <div class="container-my-cart">
        </div>
        <div class="footer-bar">
            <div class="container-wrap-product">
                <input type="checkbox" class="checkbox">
                <p class="description-whrap-product">For <strong class="price-to-wrap-product">$10.00</strong> Please Wrap The Product</p>
            </div>
            <div class="container-subtotal-and-buttons">
                <div class="container-subtotal">
                    <h5 class="title-subtotal">Subtotal:</h5>
                    <h5 class="subtotal-price">$100.00</h5>
                </div>
                <div class="container-buttons">
                    <button class="button-checkout">Checkout</button>
                    <a class="button-view-cart">View Cart</a>                    
                </div>
            </div>
        </div>
    </div>   
</div>