<nav-bar></nav-bar>

<div class="container-my-shopping-cart">
    <div class="container-title">
        <h1 class="title-shopping-cart">Shopping Cart</h1>
        <div class="container-route-description">
            <p class="parent-route">Home</p>
            <p class="separator">&gt;</p>
            <p class="current-route">Your Shopping Cart</p>
        </div>
    </div>
    <div class="main">
        <div class="container-classification">
            <p class="classification-product">Product</p>
            <p class="classification-price">Price</p>
            <p class="classification-quantity">Quantity</p>
            <p class="classification-total">Total</p>
        </div>
        <div class="container-product">

        </div>
    </div>
    <div class="container-finalize-purchase">
        <div class="container-wrap-product">
            <input type="checkbox" class="checkbox">
            <p class="description-wrap-product">For <strong>$10.00</strong> please wrap the product</p>
        </div>
        <div class="container-subtotal-and-buttons">
            <div class="container-subtotal">
                <h5 class="subtotal">Subtotal:</h5>
                <h5 class="price">$100.00</h5>
            </div>
            <div class="container-buttons">
                <button class="button-checkout">Checkout</button>
                <a class="button-view-cart">View Cart</a>
            </div>
        </div>
    </div>
</div>

<subscribe-to-our-newslatter></subscribe-to-our-newslatter>

<footer-bar></footer-bar>