@use '../../../variables.scss';

.container-my-shopping-cart {
    height: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-bottom: 5vw;
}

.div-direction-row {
    height: 100%;
    width: 60%;
}

.div-direction-column {
    height: 89%;
    width: 25%;    
}

.container-title {
    height: 15%;
    width: 85%;    
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2%;
}

.title-shopping-cart {
    @extend %font-volkhov;
    font-weight: 500;
    font-size: 2.5vw;
    color: #1f1f1f;
}

.quantity-of-items {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 1.2vw;
    color: #808080;    
}

.main {
    height: 26vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
}

.container-products {
    width: 90%;
    height: 100%;
    position: relative;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto; 
    padding-right: 2%;
}

.container-all-products {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 11vw;
}

.container-image-product {
    height: 85%;
    width: 15%;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-about-product {
    height: 85%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 1.1vw;
    color: #1f1f1f;
}

.select-size {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 1.1vw;
    color: #1f1f1f;
    width: 15%;    
    background-color: transparent;
}

.container-quantity-and-remove {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
    height: 18%;
}

.container-quantity {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    justify-content: space-between;    
    border: 0.1vw solid #808080;
}

.decrease-quantity, .increase-quantity, .quantity {
    border: none;
    @extend %font-poppins;
    font-weight: 500;
    font-size: 1.3vw;
    color: #1f1f1f;    
    width: 30%;
    background-color: transparent;
    text-align: center;
}

.remove-item {
    border: none;
    @extend %font-poppins;
    font-weight: 500;
    font-size: 0.9vw;
    color: #ff0000;    
    background-color: transparent;
    text-align: center;    
}


.container-total-product {
    height: 85%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-with-discount {
    height: 100%;
    width: 100%;
}

.container-discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.full-price-of-the-item-without-discount {
    @extend %font-poppins;
    text-decoration: line-through;
    color: #8a8a8a;
    font-size: 1vw;
}

.discount {
    @extend %font-poppins;
    font-size: 0.8vw;
    font-weight: 500;
    padding: 0.1vw 0.3vw 0.1vw 0.3vw;
    background-color: #d80000;
    color: #ebebeb;
}

.full-value-with-discount {
    @extend %font-poppins;
    font-weight: 500;
    color: #1f1f1f;
    font-size: 1.5vw;
}


.container-without-discount {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.full-value-without-discount {
    @extend %font-poppins;
    font-weight: 500;
    color: #1f1f1f;
    font-size: 1.5vw;
}

button:hover, select:hover {
    cursor: pointer;
}

.remove-item:hover {
    text-decoration: underline;
}

.container-finalize-purchase {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.1vw solid #cfcfcf;
    padding: 8% 6% 6% 6%;
}

.finalize-purchase-title {
    @extend %font-poppins;
    font-size: 1.4vw;
    font-weight: 500;
    color: #1f1f1f;
}

.finalize-the-purchase-group-one {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5%;
    border-bottom: 0.1vw solid #cfcfcf;    
}

.container-price, .container-discount, .container-shipping, .container-coupon-applied, .container-total, .container-estimated-delivery, .container-insert-coupom-code {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.group-one-specification, .group-two-specification {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 0.9vw;
    color: #1f1f1f;
}

.finalize-the-purchase-group-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
    border-bottom: 0.1vw solid #cfcfcf;        
    height: 25%;
}

.container-insert-coupom-code {
    height: 35%;
    width: 100%;
}

.input-insert-coupom-code {
    width: 100%;
    height: 100%;
    padding-left: 4%;
    border: 0.1vw solid #808080;
    background-color: transparent;
    border-radius: 0.3vw;
    @extend %font-poppins;
    font-size: 1vw;
    font-weight: 500;
    color: #1f1f1f;
}

.input-insert-coupom-code::placeholder {
    color: #808080;
}

.submit-coupom-code {
    position: absolute;
    right: 7vw;
    height: 4%;
    top: 32vw;
}

.container-buttons {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-proceed-to-checkout, .button-continue-shopping {
    height: 45%;
    border: none;
    @extend %font-poppins;
    font-size: 0.8vw;
    font-weight: 500;
    color: #1f1f1f;
    border-radius: 0.3vw;
}

.button-proceed-to-checkout {
    background-color: #1f1f1f;
    color: #ebebeb;
}

.button-continue-shopping {
    background-color: #8a8a8a;
    color: #ebebeb;
}