<nav-bar></nav-bar>

<div class="container-my-shopping-cart" *ngIf="shoppingCart.length !== 0">
    <div class="div-direction-row">
        <div class="container-title">
            <h1 class="title-shopping-cart">Cart</h1>
            <h2 class="quantity-of-items">{{ shoppingCart.length }} ITEMS</h2>
        </div>
        <div class="main">
            <div class="container-products">
                <div class="container-all-products" [ngStyle]="{ 'height': (this.shoppingCart.length * 11) + 'vw' }">
                    <div class="container-item" *ngFor="let item of shoppingCart">
                        <div class="container-image-product">
                            <img class="image"  src="../../../assets{{ productData[item.product_id].images_path[0] }}"  alt='image'>
                        </div>
                        <div class="container-about-product">
                            <h2 class="description">{{ productData[item.product_id].description }}</h2>
                            <select class="select-size" [(ngModel)]="item.size" (ngModelChange)="updateItem({ newSize: $event, currentSize: item.size }, item.id)">
                                <option *ngFor="let size of objectKeys(productData[item.product_id].size_by_quantity)" [hidden]=" productData[item.product_id].size_by_quantity[size] === '0' "  [value]="size">
                                    {{ size }}
                                </option>
                            </select>
                            <div class="container-quantity-and-remove">
                                <div class="container-quantity">                                
                                    <button class="decrease-quantity" (click)="updateItem({ currentQuantity: item.quantity, type: 'decrement', maxLength: productData[item.product_id].size_by_quantity, currentSize: item.size}, item.id)">-</button>
                                    <p class="quantity">{{ item.quantity }}</p>
                                    <button class="increase-quantity" (click)="updateItem({ currentQuantity: item.quantity, type: 'increment', maxLength: productData[item.product_id].size_by_quantity, currentSize: item.size}, item.id)">+</button>                    
                                </div>
                                <div class="container-remove-item">
                                    <button class="remove-item" (click)="updateItem( { remove: 'remove'}, item.id)">Remove</button>
                                </div>
                            </div>
                        </div>
                        <div class="container-total-product">
                            <div class="container-with-discount" *ngIf="productData[item.product_id].discount_percentage !== 0">
                                <div class="container-discount">
                                    <p class="full-price-of-the-item-without-discount">$ {{ (productData[item.product_id].price *  item.quantity)| number:'1.2-2' }}</p>
                                    <p class="discount">- {{ productData[item.product_id].discount_percentage }}%</p>
                                </div>
                                <p class="full-value-with-discount">$ {{ ((productData[item.product_id].price *  item.quantity) * ((100 - productData[item.product_id].discount_percentage) / 100) )| number:'1.2-2' }} </p>                                                    
                            </div>
                            <div class="container-without-discount" *ngIf="productData[item.product_id].discount_percentage === 0">
                                <p class="full-value-without-discount">$ {{ (productData[item.product_id].price *  item.quantity)| number:'1.2-2'  }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-direction-column">
        <order-sumary></order-sumary>
    </div>
</div>

<div class="shopping-cart-without-shopping" *ngIf="shoppingCart.length === 0">
    <h1 class="title">Your cart this empty.</h1>
    <p class="paragraph">Want to look at other similar products?</p>
    <button class="redirect-to-shopping-button" (click)="onShopping()">
        <img src="../../../assets/icons/shopping-cart-icon-with-background-white.svg" alt="shopping cart icon" class="shopping-cart-icon">
        <p>CONTINUE SHOPPING</p>
    </button>
</div>

<footer-bar></footer-bar>