<nav-bar></nav-bar>

<div class="container-payment-page">
    <div class="div-direction-row">
        <div class="container-title">
            <h2 class="title">Address</h2>
            <h2 class="title-separator">></h2>
            <h2 class="title">Shipping</h2>
            <h2 class="title-separator">></h2>
            <h2 class="title">Payment</h2>
        </div>

        <div class="main">
            <div class="container-title-main">
                <h2 class="title-main">Payment Method</h2>
            </div>
                <table class="table-payment" [ngStyle]="{ 'height': this.choosePaymentMethod === 'credit card' ? '25vw' : '7vw' }">
                    <td class="row-table">
                        <div class="table-row-group-one">
                            <button class="button-select-payment-method" (click)="setChoosePaymentMethod('pix')" [ngStyle]="{ 'color': this.choosePaymentMethod === 'pix' ? '#1f1f1f' : '#ebebeb', 'borderColor': this.choosePaymentMethod === 'pix' ? '#1f1f1f' : '#808080' }">●</button>
                            <p class="payment-method"> PIX </p>
                        </div>
                        <div class="table-row-group-two">
                            <img src="../../../assets/icons/pix-icon.svg" alt="pix icon" class="payment-method-icons">
                        </div>                        
                    </td>
                    <td class="row-table">
                        <div class="table-row-group-one">
                            <button class="button-select-payment-method" (click)="setChoosePaymentMethod('credit card')" [ngStyle]="{ 'color': this.choosePaymentMethod === 'credit card' ? '#1f1f1f' : '#ebebeb', 'borderColor': this.choosePaymentMethod === 'credit card' ? '#1f1f1f' : '#808080' }">●</button>
                            <p class="payment-method"> Credit card </p>
                        </div>
                        <div class="table-row-group-two">
                            <img src="../../../assets/icons/credit-card-icon.svg" alt="credit card icon" class="payment-method-icons">
                        </div>
                    </td>

                    <td class="row-table-insert-credit-card-data" *ngIf="this.choosePaymentMethod === 'credit card'">
                        <div class="div-row">
                            <div class="table-row-group-insert-credit-card-data">
                                <input type="text" placeholder="Card Number *" [(ngModel)]="creditCardData['card_number']" (ngModelChange)="onChangeCreditCardData()">
                                <input type="text" placeholder="Name Printed on Card *" [(ngModel)]="creditCardData['namePrintedOrCard']" (ngModelChange)="onChangeCreditCardData()">
                                <input type="text" placeholder="Validity *" [(ngModel)]="creditCardData['validity']" (ngModelChange)="onChangeCreditCardData()">
                            </div>
                            <div class="table-row-group-insert-credit-card-data">
                                <input type="text" placeholder="Verification Code *" [(ngModel)]="creditCardData['verificationCade']" (ngModelChange)="onChangeCreditCardData()">
                                <input type="text" placeholder="Holder's CPF/CNPJ *" [(ngModel)]="creditCardData['cpfOrCnpj']" (ngModelChange)="onChangeCreditCardData()">
                                <input type="date" placeholder="Date of Birth" [(ngModel)]="creditCardData['dateOfBirth']" (ngModelChange)="onChangeCreditCardData()">
                            </div>
                        </div>
                        <select name="Payment Method" class="select-installments"  [(ngModel)]="creditCardData['paymentMethod']" (ngModelChange)="onChangeCreditCardData()">
                            <option value="" *ngFor="let installment of installments">{{ installment[0] }}x of $ {{ installment[1] }} {{ installment[2] }}</option>
                        </select>
                    </td>                                        
                </table>

        </div>
    </div>

    <div class="div-direction-column">
        <order-sumary></order-sumary> 
    </div>
</div>

<footer-bar></footer-bar>