<div class="background-div">
    <div class="container-left-nav-bar">
        <button class="my-data-button" (click)="onMyData()">
            <img src="../../../../assets/icons/user-icon-with-background.svg" alt="my data icon">
            <p>My data</p>
        </button>
        <button class="my-orders-button" (click)="onMyOrders()">
            <img src="../../../../assets/icons/my-orders-icon-with-background.svg" alt="my orders icon"  class="favorite-img"  class="my-orders-img">
            <p>My Orders</p>
        </button>
        <button class="favorites-button" (click)="onFavorites()">
            <img src="../../../../assets/icons/favorite-selected-icon.svg" alt="favorite icon">
            <p>Favorites</p>
        </button>
    </div>
</div>