<div class="container-follow-us-on-instagram">
    <div class="container-title-and-description">
        <h1 class="title">Follow Us On Instagram</h1>
        <p class="description">Stay connected with the latest trends! Follow us on Instagram for exclusive style inspiration, new arrivals, and special offers. Don’t miss out—join our fashion-forward community today!</p>
    </div>
    <div class="container-modelers-wall">
        <img src="../../../assets/follow-us-on-instragram/image-1.png" class="img" alt="model wall">
        <img src="../../../assets/follow-us-on-instragram/image-2.png" class="img" alt="model wall">
        <img src="../../../assets/follow-us-on-instragram/image-3.png" class="img" alt="model wall">
        <img src="../../../assets/follow-us-on-instragram/image-4.png" class="img" alt="model wall">
        <img src="../../../assets/follow-us-on-instragram/image-5.png" class="img" alt="model wall">
        <img src="../../../assets/follow-us-on-instragram/image-6.png" class="img" alt="model wall">
        <img src="../../../assets/follow-us-on-instragram/image-7.png" class="img" alt="model wall">  
    </div>
</div>