@use '../../../../../../variables.scss';

.container-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8vw;
    height: 7%;
    border-bottom: 0.1vw solid #c5c5c5;
}

.main-title {
    @extend %font-poppins;
    font-weight: 700;
    font-size: 1.5vw;
    color: #282828;
}

.order-icon {
    width: 1.7vw;
}

.container-order-info {
    height: 4vw;
    border-bottom: 0.1vw solid #c5c5c5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-details {
    width: 88%;
    display: flex;
    align-items: center;
    gap: 0.3vw;
}

.order-pargraph {
    @extend %font-poppins;
    font-weight: 800;
    font-size: 1vw;
    color: #4f4f4f;
}

.order-id, .separator, .order-date {
    @extend %font-poppins;
    font-weight: 400;
    font-size: 1vw;
    color: #636363;
}

.order-status {
    @extend %font-poppins;
    font-weight: 600;
    font-size: 1vw;
    color: #282828;
}

.pending-order-or-canceled-order {
    color: #ff0101;
}


.div-row-direction {
    width: 100%;
    height: 77%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-order-status, .container-method-purchase {
    width: 100%;
    height: 2vw;
    display: flex;
    align-items: center;
    border-bottom: 0.1vw solid #c5c5c5;
}

.container-order {
    height: 20vw;
    width: 70%;
    background-color: #fafafa;
    border-radius: 0.4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.container-all-order-items {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
    width: 100%;
    height: 100%;
}

.order-item {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    width: 95%;
}

.item-image {
    object-fit: cover;
    width: 5vw;
    height: 5vw;
    border: 0.1vw solid #c5c5c5;
}

.container-item-details-and-price {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item-details {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;    
}

.item-name {
    @extend %font-poppins;
    font-weight: 600;
    font-size: 1vw;
    color: #282828;
}

.quantity {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 0.9vw;
    color: #454545;
}

.size {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 0.9vw;
    color: #454545;
}

strong {
    @extend %font-poppins;
    font-weight: 600;
    font-size: 0.9vw;
    color: #454545;
}

.item-price {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 1.3vw;
    color: #4f4f4f;
}

.container-delivery-status {
    width: 95%;
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.container-status-and-date {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    height: 4vw;
}

.status, .date {
    @extend %font-poppins;
    font-weight: 700;
    font-size: 0.8vw;
    color: #4f4f4f;    
    width: 100%;
    text-align: center;
}

.container-feature {
    width: 10%;
    height: 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feature-icon {
    width: 100%;
    height: 30%;
}

.toUpdateStatusAndDate {
    color: #282828;
}

.container-delivery-and-price-information {
    height: 30vw;
    width: 29%;
    background-color: #ffffff;
    border-radius: 0.4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-delivery-information {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.1vw;
    height: 20%;
    width: 90%;
    border-bottom: 0.1vw solid #c5c5c5;
}

.sender {
    @extend %font-poppins;
    font-weight: 700;
    font-size: 0.9vw;
    color: #454545;
}

.address {
    @extend %font-poppins;
    font-weight: 400;
    font-size: 0.9vw;
    color: #636363;
}

.container-payment-method {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 8%;
    width: 90%;
    border-bottom: 0.1vw solid #c5c5c5;
}

.payment-method {
    @extend %font-poppins;
    font-weight: 600;
    font-size: 0.9vw;
    color: #454545;
}

.container-price-information {
    height: 35%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-subtotal, .container-shipping, .container-discount, .container-coupon-applied, .container-total {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-total {
    background-color: #ececec;
    padding: 0.4vw;
}

.subtotal-title, .shipping-title, .discount-title, .coupon-applied-title {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 0.9vw;
    color: #454545;
}

.total-title {
    @extend %font-poppins;
    font-weight: 700;
    font-size: 0.9vw;
    color: #454545;
}

.subtotal-value, .shipping-value, .discount-value, .coupon-applied-value {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 0.9vw;
    color: #454545;    
}

.total-value {
    @extend %font-poppins;
    font-weight: 600;
    font-size: 0.9vw;
    color: #454545;    
}

.container-return-to-my-orders-button {
    height: 30%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.return-button {
    height: 35%;
    width: 100%;
    background-color: transparent;
    border: 0.1vw solid #282828;
    border-radius: 0.4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    gap: 0.7vw;
}

.paragraph-return-to-my-orders {
    @extend %font-poppins;
    font-weight: 700;
    font-size: 1vw;
    color: #282828;
}

.carret-left-icon {
    width: 0.8vw;
}

button:hover {
    cursor: pointer;
}