@use '../../../variables.scss';

.container-component-confirm-code {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component-confirm-code {
    height: 13vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-description {
    width: 100%;
}

.description {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 1.2vw;
    color: #1f1f1f;
}

.container-input {
    height: 3vw;
    width: 100%;
}

.input-confirmation-code {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 0.1rem solid #9d9d9d;
    background-color: transparent;
    @extend %font-poppins;
    font-size: 0.9vw;
    color: #9d9d9d;
    padding-left: 0.4vw;
}

.container-buttons-for-redirects {
    width: 100%;
    height: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.button-recover-account {
    @extend %font-poppins;
    color: #ffffff;
    font-size: 0.9vw;    
    height: 3vw;
    width: 100%;
    border-radius: 0.4vw;
    border: none;
    background-color: #1f1f1f;
}

.paragraph-resend-code {
    @extend %font-poppins;
    font-weight: 600;
    font-size: 0.8vw;
    color: #454545;
}

.link-resend-now {
    color: #5B86E5;
    text-decoration: none;
}

.link-resend-now:hover {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}