@use '../../../variables.scss';

.container-component-confirm-code {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component-confirm-code {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-description {
    width: 100%;
}

.description {
    @extend %font-volkhov;
    font-weight: 500;
}

.container-input {
    background-color: red;
    height: 20%;
    width: 100%;
}

.input-confirmation-code {
    @extend %font-poppins;
    font-size: 75%;
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 0.1rem solid #9d9d9d;
    color: #9d9d9d;
}

.container-buttons-for-redirects {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.button-recover-account {
    @extend %font-poppins;
    height: 48%;
    width: 90%;
    border-radius: 0.4rem;
    border: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 80%;
}

.paragraph-resend-code {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 70%;
}

.link-resend-now {
    color: #5B86E5;
    text-decoration: none;
}

.link-resend-now:hover {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}