<div class="container-component-confirm-code">
    <div class="component-confirm-code">
        <div class="container-description">
            <h3 class="description">Enter The Confirmation Code</h3>
        </div>
        <div class="container-input">
            <input type="text" class="input-confirmation-code" placeholder="Confirmation Code">
        </div>
        <div class="container-buttons-for-redirects">
            <button class="button-recover-account">Recover Account</button>
            <div class="container-paragraph-resend-code">
                <p class="paragraph-resend-code">Didn't receive Confirmation Code? <a href="" class="link-resend-now">Resend Now</a></p>
            </div>
        </div>
    </div>
</div>