<div class="container-subscribe-to-our-newslatter">
    <img src="../../../assets/subscribe-to-our-newslatter/image-1.png" class="image" alt="image">

    <div class="main">
        <div class="group">
            <h1 class="title">Subscribe To Our Newslatter</h1>
            <p class="description">Stay updated with the latest news, exclusive offers, and exciting updates! Subscribe to our newsletter and never miss a thing—delivered straight to your inbox.</p>
            <input type="text"  class="input" placeholder="douglas@gmail.com">
        </div>
        <button class="button-subscribe-now">Subscribe Now</button>
    </div>

    <img src="../../../assets/subscribe-to-our-newslatter/image-2.png" class="image" alt="image">
</div>