<div class="container-nav-bar-component">
    <div class="container-logo">
        <h1 class="logo">FASCO</h1>
    </div>
    <div class="container-redirect-buttons">
            <a href="" class="redirect-button">Home</a>
            <a href="" class="redirect-button">Deals</a>
            <a href="" class="redirect-button">New Arrivals</a>
            <a href="" class="redirect-button">Packages</a>
            <a href="login/sign-in" class="redirect-button">Sign in</a>
            <a href="login/sign-up" class="special-redirect-button">Sign Up</a>
    </div>
</div>