<div class="container-nav-bar-component">
    <div class="container-logo">
        <h1 class="logo">FASCO</h1>
    </div>
    <div class="container-redirect-buttons">
            <a href="" class="redirect-button">Home</a>
            <a href="" class="redirect-button">Deals</a>
            <a href="" class="redirect-button">New Arrivals</a>
            <a href="" class="redirect-button">Packages</a>
            <a href="" class="redirect-button">Sign in</a>
            <button class="special-redirect-button">Sign Up</button>
    </div>
</div>