<nav-bar-with-login></nav-bar-with-login>



<div class="container-title-and-route">
    <div class="container-title-and-route-specification">
        <div class="container-title">
            <h1 class="title">Fashion</h1>
        </div>
        <div class="container-route-specification">
            <p class="parent-route">Home</p>
            <p class="separation">&gt;</p>
            <p class="current-route">Fashion</p>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-component-filters">
        <filters></filters>
    </div>
    <div class="container-component-shop">
        <shop></shop>
    </div>
</div>


<women-collection></women-collection>

<follow-us-on-instagram></follow-us-on-instagram>

<subscribe-to-our-newslatter></subscribe-to-our-newslatter>

<footer-bar></footer-bar>