@use '../../../variables.scss';

.container-title-and-route {
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-title-and-route-specification {
    width: 20%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    @extend %font-volkhov;
    @extend %logo-brand-style;
    color: #1f1f1f;
    font-size: 2vw;
}

.container-route-specification{
    width: 7vw;
    display: flex;
    justify-content: space-between;
}

.parent-route, .separation, .current-route {
    @extend %font-poppins;
    font-size: 0.8vw;
    font-weight: 500;
    color: #282828;
}

.content {
    height: 105vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
}

.container-component-filters {
    width: 20vw;
    height: 70vw;
}

.container-component-shop {
    width: 70%;
    height: 100%;
}