@use '../../../variables.scss';

.container-ultimate-sale {
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: center;
}

.ultimate-sale {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-block, .third-block {
    background-color: #E0E0E0;
    border-radius: 0.6vw;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 22vw;
}

.image-1, .image-4 {
    height: 32vw;
}

.second-block {
    width: 28vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.group-1, .group-3 {
    background-color: #E0E0E0;
    border-radius: 0.6vw;
    height: 21.2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-2 {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title-ultimate {
    @extend %font-poppins;
    font-weight: 500;
    color: #484848;
    font-size: 5vw;
    display: flex;
    align-items: center;
    height: 20%;
}

.title-sale {
    @extend %font-poppins;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 0.1vw #484848;    
    font-size: 10vw;
    display: flex;
    align-items: center;
    height: 30%;
}

.title-new-collection {
    @extend %font-poppins;
    font-weight: 300;
    color: #484848;
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    height: 8%;
}

.button-shop-now {
    border: none;
    background-color: #000000;
    border-radius: 1vw;
    @extend %font-poppins;
    font-weight: 600;
    color: #ebebeb;
    font-size: 0.9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14%;
    width: 50%;
}

.group-3 {
    height: 20.6%;
}

.image-3, .image-2 {
    height: 100%;
    width: 100%;
}