<div class="container-ultimate-sale">
    <div class="ultimate-sale">
        <div class="first-block">
            <img src="../../../assets/ultimate-sale/image-1.png" class="image-1" alt="image">
        </div>
        <div class="second-block">
            <div class="group-1">
                <img src="../../../assets/ultimate-sale/image-2.png" class="image-2" alt="image">
            </div>
            <div class="group-2">
                    <h2 class="title-ultimate">ULTIMATE</h2>
                    <h1 class="title-sale">SALE</h1>
                    <h4 class="title-new-collection">NEW COLLECTION</h4>
                    <button class="button-shop-now" (click)="onShop()">SHOP NOW</button>
            </div>
            <div class="group-3">
                <img src="../../../assets/ultimate-sale/image-3.png" class="image-3" alt="image">            
            </div>
        </div>
        <div class="third-block">
            <img src="../../../assets/ultimate-sale/image-4.png" class="image-4" alt="image">        
        </div>
    </div>    
</div>