@use '../../../variables.scss';

.container-component-sign-in, .component-sign-in {
    height: 100%;
    width: 100%;
}

.component-sign-in {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-description {
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center
}

.description {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 2vw;
    color: #1f1f1f;
}

.button-log-in-with-google-or-gmail {
    height: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.button-log-in-with-google, .button-log-in-with-gmail {
    background-color: transparent;
    border: none;
    width: 13vw;
    height: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-radius: 0.5vw;
    border: 0.1vw solid #8a8a8a;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);    
}

.button-description-google, .button-description-gmail {
    @extend %font-poppins;
    font-size: 0.8vw;
    font-weight: 500;
}

.google-mark, .gmail-mark {
    height: 1.5vw;
}

.container-or {
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.or {
    @extend %font-poppins;
    font-weight: 600;
    color: #838383;
    font-size: 1.8vw;
}

.data-entry-container {
    height: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-email, .input-password {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 0.9vw;
    color: #000000;
    height: 5vw;
    border: none;
    background-color: transparent;
    border-bottom: 0.1vw solid #9d9d9d;
    padding: 0.1vw;
}

input::placeholder {
    color: #9d9d9d;
}

.container-redirect-buttons {
    height: 9vw;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
}

.button-sign-in, .button-register-now {
    @extend %font-poppins;
    font-weight: 400;
    font-size: 0.8vw;
    height: 2.7vw;
    border-radius: 0.6vw;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);            
}

.button-sign-in {
    background-color: #1f1f1f;
    color: #ffffff;
    border: none;    
}

.button-register-now {
    background-color: transparent;
    color: #ffffff;
    background-color: #2861dd;
    border: none;
}

.container-button-forget-password {
    height: 2.6vw;
    display: flex;
    justify-content: end;
}

.button-forget-password {
    @extend %font-poppins;
    font-weight: 600;
    font-size: 0.8vw;
    text-align: start;
    border: none;
    background-color: transparent;
    color: #1e51c0;
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}