<div class="container-women-collection">
    <div class="group-background-image">
    </div>
    <div class="container-content">
        <div class="content">
            <p class="container-title">Women Colection</p>
            <h1 class="type-of-fashion">Peaky Blinders</h1>
            <p class="fashion-description">Peaky Blinders-inspired fashion for women combines classic 1920s tailoring with a modern, empowered twist. Fitted blazers, vests, high-waisted pants and hats like berets stand out in fabrics like tweed and velvet. With neutral tones and sophisticated cuts, the style combines vintage elegance and contemporary attitude, celebrating feminine strength and authenticity.</p>
            <div class="container-size">
                <p class="paragraph-size">Size:</p>
                <p class="size"> M</p>
            </div>
            <h2 class="value">$100.00</h2>
            <button class="redirect-button">Buy Now</button>
        </div>    
    </div>
    <div class="container-specifications">
        <div class="container-high-quality">
            <img src="../../../assets/women-collection/icons/high-quality.svg" class="icon" alt="icon high quality">
            <div class="specification-group">
                <h2 class="specification-tittle">High Quality</h2>
                <p class="specification-paragraph">crafted from top materials</p>                
            </div>
        </div>
        <div class="container-warrany-protection">
            <img src="../../../assets/women-collection/icons/warrany-protection.svg" class="icon" alt="icon warrany protection">
            <div class="specification-group">
                <h2 class="specification-tittle">Warrany Protection</h2>
                <p class="specification-paragraph">Over 2 years</p>                
            </div>            
        </div>
        <div class="container-free-shipping">
            <img src="../../../assets/women-collection/icons/free-shipping.svg" class="icon" alt="icon free shipping">
            <div class="specification-group">
                <h2 class="specification-tittle">Free Shipping</h2>
                <p class="specification-paragraph">Order over 150 $</p>                
            </div>            
        </div>
        <div class="container-247-support">
            <img src="../../../assets/women-collection/icons/247-support.svg" class="icon" alt="icon 24/7 support">
            <div class="specification-group">
                <h2 class="specification-tittle">24 / 7 Support</h2>
                <p class="specification-paragraph">Dedicated support</p>                
            </div>            
        </div>
    </div>
</div>