<div class="container-women-collection">
    <div class="group-background-image">
    </div>
    <div class="container-content">
        <div class="content">
            <p class="container-title">Women Colection</p>
            <h1 class="type-of-fashion">Peaky Blinders</h1>
            <p class="fashion-description">A moda inspirada em Peaky Blinders para mulheres combina a alfaiataria clássica dos anos 1920 com um toque moderno e empoderado. Blazers ajustados, coletes, calças de cintura alta e chapéus, como boinas, destacam-se em tecidos como tweed e veludo. Com tons neutros e cortes sofisticados, o estilo une elegância vintage e atitude contemporânea, celebrando a força e autenticidade feminina.</p>
            <div class="container-size">
                <p class="paragraph-size">Size:</p>
                <p class="size"> M</p>
            </div>
            <h2 class="value">$100.00</h2>
            <button class="redirect-button">Buy Now</button>
        </div>    
    </div>
    <div class="container-specifications">
        <div class="container-high-quality">
            <img src="../../../assets/women-collection/icons/high-quality.svg" class="icon" alt="icon high quality">
            <div class="specification-group">
                <h2 class="specification-tittle">High Quality</h2>
                <p class="specification-paragraph">crafted from top materials</p>                
            </div>
        </div>
        <div class="container-warrany-protection">
            <img src="../../../assets/women-collection/icons/warrany-protection.svg" class="icon" alt="icon warrany protection">
            <div class="specification-group">
                <h2 class="specification-tittle">Warrany Protection</h2>
                <p class="specification-paragraph">Over 2 years</p>                
            </div>            
        </div>
        <div class="container-free-shipping">
            <img src="../../../assets/women-collection/icons/free-shipping.svg" class="icon" alt="icon free shipping">
            <div class="specification-group">
                <h2 class="specification-tittle">Free Shipping</h2>
                <p class="specification-paragraph">Order over 150 $</p>                
            </div>            
        </div>
        <div class="container-247-support">
            <img src="../../../assets/women-collection/icons/247-support.svg" class="icon" alt="icon 24/7 support">
            <div class="specification-group">
                <h2 class="specification-tittle">24 / 7 Support</h2>
                <p class="specification-paragraph">Dedicated support</p>                
            </div>            
        </div>
    </div>
</div>