@use '../../../variables.scss';

.container-component-deals-of-the-month {
    height: 30vw;
    display: flex;
    justify-content: end;
    align-items: center;
}

.component-deals-of-the-month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87.5%;
    height: 100%;
}

.first-block {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    @extend %font-volkhov;
    @extend %logo-brand-style;
    font-size: 2vw;
}

.paragraph {
    @extend %font-poppins;
    font-size: 0.9vw;
    font-weight: 500;
    color: #484848;
}

.button-buy-now {
    @extend %font-poppins;
    font-size: 0.8vw;
    width: 8vw;
    height: 3vw;
    border: none;
    border-radius: 0.6vw;
    background-color: #1f1f1f;
    color: #ffffff;
}

.group-timer {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title-group-timer {
    @extend %font-poppins;
    font-weight: 400;
    font-size: 1.5vw;
    color: #484848;
}

.container-timer {
    display: flex;
    flex-direction: row;
    width: 82%;
    height: 60%;
    justify-content: space-between;
}

.container-days, .container-hours, .container-minutes, .container-seconds {
    height: 100%;
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.time {
    @extend %font-russo-one;
    color: #666666;
    font-weight: 100;
    font-size: 1.6vw;
    height: 50%;
    width: 100%;
    text-align: center;
    padding: 1vw 0.2vw 1vw 0.2vw;
    background-color: #e1e1e1;
    border-radius: 0.6vw;
}

.description-time {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 1vw;
    color: #666666;
}

.absolute-block {
    height: 100%;
    width: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.left-arrow, .right-arrow {
    @extend %font-poppins;
    font-size: 1.3vw;
    color: #484848;
    width: 4vw;
    border: none;
    background-color: #e1e1e1;
    border-radius: 100%;
}

.left-arrow:hover, .right-arrow:hover {
    cursor: pointer;
}

.second-block {
    width: 60%;
    height: 85%;
    position: relative;
    overflow: hidden;
}

.container-images {
    height: 100%;
    width: 115%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
}

.image-1, .image-2, .image-3 {
    height: 100%;
    transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
}

.image-2, .image-3 {
    height: 80%;
}

.about-the-discount {
    position: absolute;
    left: 4%;
    top:70%;
    background-color: #ebebeb;
    height: 25%;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: opacity 0.2s ease-in-out;
}

.type-of-promotion {
    @extend %font-poppins;
    font-size: 80%;
    font-weight: 500;
    color: #484848;
    font-size: 1vw;
}

.discount-percentage {
    @extend %font-poppins;
    font-size: 1.8vw;
    font-weight: 500;
    color: #484848;    
}


.group-current-image-flag {
    height: 5%;
    width: 20%;    
    position: absolute;
    left: 43%;
    top: 92%;    
    display: flex;
    justify-content: space-between;
    z-index: 11111;
}

.container-on-display {
    width: 12%;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1vw solid #1f1f1f; 
    transition: transform 0.5s ease-in-out;
}

.container-off-display {
    width: 12%;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.image-on-display {
    display: inline-block;
    text-align: center;
    font-size: 4vw;
    color: #1f1f1f;
    margin-bottom: 2.2vw;
}

.image-off-display {
    display: inline-block;
    text-align: center;
    font-size: 4vw;
    color: #b6b6b6;   
    margin-bottom: 2.2vw; 
}

img {
    height: 10vw;
}

button:hover {
    cursor: pointer;
}