<div class="container-component-deals-of-the-month">
    <div class="component-deals-of-the-month">
        <div class="first-block">
            <h1 class="title">Deals Of The Month</h1>
            <p class="paragraph">Take advantage of the month's exclusive offers now before time runs out! Selected products with special discounts, but be careful: they are for a limited time and may sell out at any time. The clock is ticking — get yours now before it’s too late!</p>
            <button class="button-buy-now">Buy Now</button>
            <div class="group-timer">
                <h3 class="title-group-timer">Hurry, Before It's Too Late!</h3>
                <div class="container-timer">
                    <div class="container-days">
                        <h1 class="time">00</h1>
                        <p class="description-time">Days</p>
                    </div>
                    <div class="container-hours">
                        <h1 class="time">00</h1>
                        <p class="description-time">Hr</p>
                    </div>
                    <div class="container-minutes">
                        <h1 class="time">00</h1>
                        <p class="description-time">Mins</p>
                    </div>
                    <div class="container-seconds">
                        <h1 class="time">00</h1>
                        <p class="description-time">Sec</p>
                    </div>                                                            
                </div>
            </div>
        </div>
        <div class="absolute-block">
            <button class="left-arrow" (click)="onButtonClickLeft()"><</button>
            <button class="right-arrow" (click)="onButtonCLickRight()">></button>
        </div>

        <div class="second-block">
            <div class="container-images" [ngStyle]="{'transform': 'translateX('+ calculateTransform() +'%)'}">
                <img src="../../../assets/deals-of-the-month/image-1.png" class="image-1" alt="image" [ngStyle]="{ 'height': (currentIndex === 1) ? '100%' : '80%', 'width': (currentIndex === 1) ? '30%' : 'auto' }">
                <img src="../../../assets/deals-of-the-month/image-2.png" class="image-2" alt="image" [ngStyle]="{ 'height': (currentIndex === 2) ? '100%' : '80%', 'width': (currentIndex === 2) ? '30%' : 'auto' }">
                <img src="../../../assets/deals-of-the-month/image-3.png" class="image-3" alt="image" [ngStyle]="{ 'height': (currentIndex === 3) ? '100%' : '80%', 'width': (currentIndex === 3) ? '30%' : 'auto' }">
            </div>
            <div class="about-the-discount" [ngStyle]="{ 'opacity': hasChanged ? '0' : '1' }">
                <h4 class="type-of-promotion">0{{ currentIndex }} — Spring Sale</h4>
                <p class="discount-percentage">{{ discount[currentIndex - 1] }}% OFF</p>
            </div>                            
            <div class="group-current-image-flag">
                <div [ngClass]="currentIndex === 1 ? 'container-on-display' : 'container-off-display'">
                <h1 [ngClass]="currentIndex === 1 ? 'image-on-display' : 'image-off-display'">.</h1>
                </div>
                <div [ngClass]="currentIndex === 2 ? 'container-on-display' : 'container-off-display'">
                <h1 [ngClass]="currentIndex === 2 ? 'image-on-display' : 'image-off-display'">.</h1>
                </div>
                <div [ngClass]="currentIndex === 3 ? 'container-on-display' : 'container-off-display'">
                <h1 [ngClass]="currentIndex === 3 ? 'image-on-display' : 'image-off-display'">.</h1>
                </div> 
            </div>
        </div>
    </div>
</div>