<nav-bar></nav-bar>

<div class="container-address-page">
    <div class="div-direction-row">
        <div class="container-title">
            <h2 class="title">Address</h2>
            <h2 class="title-separator">></h2>
            <h2 class="title">Shipping</h2>
            <h2 class="title-separator">></h2>
            <h2 class="title">Payment</h2>
        </div>

        <div class="main">
            <div class="container-address">
                <div class="container-all-address"  [ngStyle]="{ 'height': (this.allAddress.length * 10) + 'vw' }">
                    <div class="container-address-data" *ngFor="let currentAddress of allAddress; let index = index">
                        <edit-address *ngIf="statusEditAddress" (setStatusEditAddress)="setStatusEditAddress()" [address_position]="index" [user_id]="user_id"></edit-address>                        
                        <div class="address-data">
                            <div class="address-data-group-one">
                                <div class="container-button-select-address">
                                    <button class="select-address" (click)="setChooseAddress(index)" [ngStyle]="{ 'color': this.chosenAddress === index ? '#1f1f1f' : '#ebebeb', 'borderColor': this.chosenAddress === index ? '#1f1f1f' : '#808080' }">●</button>
                                </div>
                                <h2 class="sender">{{ currentAddress.sender }}</h2>
                                <p class="complement">{{ currentAddress.complement }}</p>
                            </div>
                            <div class="address-data-group-two">
                            <p class="address">{{ currentAddress.logradouro }}, {{ currentAddress.number }}, {{ currentAddress.neighborhood }},  {{ currentAddress.city }}, {{ currentAddress.uf }}, {{ currentAddress.cep }}</p>
                            <p class="reference"><strong>Reference</strong> - {{ currentAddress.reference }}</p>
                            <p class="contact"><strong>Contact</strong> - {{ currentAddress.contact }}</p>
                            </div>
                        </div>
                        <div class="container-edit-and-remove">
                            <button class="edit" (click)="onEditAddress(currentAddress)">Edit</button>
                            <p class="separator">|</p>
                            <button class="remove" (click)="onRemoveAddress(index)">Remove</button>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>

        <div class="container-add-new-address">
            <button class="add-new-address" (click)="setStatusAddAddress()">+  Add New Address</button>
        </div>
    </div>

    <div class="div-direction-column">
        <order-sumary></order-sumary>
    </div>
</div>

<add-address *ngIf="statusAddAddress" (setStatusAddAddress)="setStatusAddAddress()" [user_id]="user_id"></add-address>

<footer-bar></footer-bar>