@use '../../../variables.scss';

.container-address-page {
    height: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-bottom: 5vw;
}

.div-direction-row {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.div-direction-column {
    height: 89%;
    width: 25%;    
}

.container-title {
    height: 15%;
    width: 85%;    
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2%;
}

.title, .title-separator {
    @extend %font-poppins;
    font-weight: 600;
    font-size: 1.4vw;
    color: #808080;
}

.title:first-child {
    color: #1f1f1f;
}

.main {
    height: 20vw;
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.1vw solid #cfcfcf;
}

.container-address {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-all-address {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
}

.container-address-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vw;
    width: 100%;
}

.address-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.address-data-group-one {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;    
}

.container-button-select-address {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    width: 5%;
}

.select-address {
    width: 1.3vw;
    height: 1.3vw;
    font-size: 1vw;
    text-align: center;
    color: #808080;
    text-align: center;
    border: 0.1vw solid #808080;
    border-radius: 100%
}

.sender {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 1.5vw;
    color: #1f1f1f;
}

.complement {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 0.8vw;
    padding: 0vw 0.2vw 0vw 0.2vw;
    border-radius: 0.2vw;
    color: #1f1f1f;    
    border: 0.1vw solid #1f1f1f;
    text-transform: uppercase;
}
.address-data-group-two {
    height: 70%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;        
}

.address, .contact, .reference {
    @extend %font-poppins;
    font-weight: 400;
    font-size: 1vw;
    width: 90%;
    color: #1f1f1f;
    background-color: transparent;

    strong {
        font-weight: 600;
    }
}

.container-edit-and-remove {
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-between;
}

.edit, .remove {
    @extend %font-poppins;
    font-weight: 600;
    font-size: 0.9vw;
    color: #1f1f1f;
    background-color: transparent;    
    border: none;
}

.edit {
    color: #1f1f1f;
}

.remove {
    color: #ff2727;
}

.edit:hover, .remove:hover {
    text-decoration: underline;
}

.add-new-address {
    @extend %font-poppins;
    font-weight: 600;
    font-size: 1.1vw;
    color: #1f1f1f;
    background-color: transparent;    
    border: none;    
    padding-left: 1.5vw;
}

button:hover {
    cursor: pointer;
}

.container-finalize-purchase {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.1vw solid #cfcfcf;
    padding: 8% 6% 6% 6%;
}

.finalize-purchase-title {
    @extend %font-poppins;
    font-size: 1.4vw;
    font-weight: 500;
    color: #1f1f1f;
}

.finalize-the-purchase-group-one {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5%;
    border-bottom: 0.1vw solid #cfcfcf;    
}

.container-price, .container-discount, .container-shipping, .container-coupon-applied, .container-total, .container-estimated-delivery, .container-insert-coupom-code {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.group-one-specification, .group-two-specification {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 0.9vw;
    color: #1f1f1f;
}

.finalize-the-purchase-group-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
    border-bottom: 0.1vw solid #cfcfcf;        
    height: 25%;
}

.container-insert-coupom-code {
    height: 35%;
    width: 100%;
}

.input-insert-coupom-code {
    width: 100%;
    height: 100%;
    padding-left: 4%;
    border: 0.1vw solid #808080;
    background-color: transparent;
    border-radius: 0.3vw;
    @extend %font-poppins;
    font-size: 1vw;
    font-weight: 500;
    color: #1f1f1f;
}

.input-insert-coupom-code::placeholder {
    color: #808080;
}

.submit-coupom-code {
    position: absolute;
    right: 7vw;
    height: 4%;
    top: 32vw;
}

.container-buttons {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}