<div class="container-footer-bar">
    <div class="group-1">
        <div class="subgroup-1">
            <h1 class="title">FASCO</h1>
        </div>
        <div class="subgroup-2">
            <a class="link">Support Center</a>
            <a class="link">Invoicing</a>
            <a class="link">Contract</a>
            <a class="link">Careers</a>
            <a class="link">Blog</a>
            <a class="link">FAQ's</a>
        </div>
    </div>
    <div class="group-2">
        <p class="copyright">Copyright © 2022 Xpro . All Rights Reseved.</p>
    </div>
</div>