@use '../../../variables.scss';

.container-component-sign-up {
    height: 100%;
    width: 100%;
}

.component-sign-up {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
};

.description {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 1.2vw;
    color: #1f1f1f;
}

.button-create-with-google-or-gmail {
    height: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.button-create-with-google, .button-create-with-gmail {
    background-color: transparent;
    border: none;
    width: 13vw;
    height: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-radius: 0.5vw;
    border: 0.1vw solid #8a8a8a;
}

.button-description-google, .button-description-gmail {
    @extend %font-poppins;
    font-size: 0.8vw;
    font-weight: 500;
}

.google-mark, .gmail-mark {
    height: 1.5vw;
}

.container-or {
    height: 5vw;
    display: flex;
    align-items: start;
    justify-content: center;
}

.or {
    @extend %font-poppins;
    color: #838383;
    font-weight: 600;
}

.container-row-data-entry {
    height: 14vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-row-inputs, .second-row-inputs, .three-row-inputs {
    width: 100%;
    height: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-first-name, .input-last-name, .input-email, .input-phone-number, .input-password, .input-confirm-password {
    @extend %font-poppins;
    font-weight: 600;
    font-size: 0.8vw;
    width: 48%;
    border: none;
    color: #1f1f1f;
    border-bottom: 0.1vw solid #838383;
    background-color: transparent;
}

.four-row-warning {
    height: 2.6vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.invalid-email-warning {
    @extend %font-poppins;
    font-weight: 600;
    color: #ff1414;
    font-size: 0.8vw;
}

.container-redirect-buttons {
    height: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.button-sign-up {
    @extend %font-poppins;
    font-size: 0.9vw;
    height: 3vw;
    width: 100%;
    background-color: #1f1f1f;
    border: none;
    border-radius: 0.4vw;
    color: #ffffff;
}

.paragraph-login {
    @extend %font-poppins;
    font-size: 0.8vw;
    font-weight: 600;
    color: #454545;
}

.link-login {
    text-decoration: none;
    color: #5b86e5;
}

.link-login:hover {
    text-decoration: underline;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}