<div class="container-component-sign-up">
    <div class="component-sign-up">
    <div class="container-description">
        <h2 class="description">Create Account</h2>
    </div>    
    <div class="button-create-with-google-or-gmail">
        <button class="button-create-with-google">
            <img class="google-mark" src="../../../assets/login/icons/google-logo.svg" alt="Google mark">
            <p class="button-description-google">Sign up with Google </p>
        </button>
        <button class="button-create-with-gmail">
            <img class="gmail-mark" src="../../../assets/login/icons/gmail-logo.svg" alt="Gmail mark">
            <p class="button-description-gmail">Sign up with Gmail </p>
        </button>        
    </div>    
        <div class="container-or">
            <h2 class="or">— OR —</h2>
        </div>    

        <div class="container-row-data-entry">
            <div class="first-row-inputs">
                <input type="text" class="input-first-name" placeholder="First Name" required>
                <input type="text" class="input-last-name" placeholder="Last Name" required>
            </div>
            <div class="second-row-inputs">
                <input type="text" class="input-email" placeholder="Email" required>
                <input type="text" class="input-phone-number" placeholder="Phone Number" required>
            </div>
            <div class="three-row-inputs">
                <input type="text" class="input-password" placeholder="Password" required>
                <input type="text" class="input-confirm-password" placeholder="Confirm Password" required>
            </div>                        
        </div>

        <div class="container-redirect-buttons">
            <button class="button-sign-up">Create Account</button>
            <div class="container-paragraph-login">
                <p class="paragraph-login">Already have an account? <a href="" class="link-login">Login</a></p>
            </div>            
        </div>
    </div>
</div>