<div class="container-nav-bar-component">

<div class="nav-bar-component">
    <div class="container-logo">
        <h1 class="logo">FASCO</h1>
    </div>
    <div class="container-redirect-buttons">
            <a (click)="onHome()" class="redirect-button" [ngClass]="{ 'currentPage': currentRoute === '/' }">Home</a>
            <a (click)="onShop()" class="redirect-button" [ngClass]="{ 'currentPage': currentRoute === '/shop' }">Shop</a>
            <a class="redirect-button">Products</a>
    </div>
    <div class="container-user">
        <a href="" class="redirect-user">
            <img src="../../../../assets/login/icons/search.svg" alt="search">
        </a>
        <a href="" class="redirect-user"> 
            <img src="../../../../assets/login/icons/my-account.svg" alt="my account">
        </a>
        <a href="" class="redirect-user">
            <img src="../../../../assets/login/icons/favorites.svg" alt="favorites">
        </a>
        <a href="" class="redirect-user">
            <img src="../../../../assets/login/icons/my-purchases.svg" alt="my purchases">
        </a>
    </div>
</div>

</div>