<router-outlet></router-outlet>

<div class="component-sign-up">
    <div class="container-description">
        <p class="description">Sign In To FASCO</p>
    </div>    
    <div class="button-log-in-with-google-and-or">
        <button class="button-log-in-with-google">
            <img src="" alt="Google mark">
            <p>Sign up with Google </p>
        </button>
        <h3 class="or">- OR -</h3>
    </div>    
    <div class="data-entry-container">
        <input type="text" class="input-email" placeholder="Email" required>
        <input type="text" class="input-password" placeholder="Password" required>
    </div>
    <div class="container-redirect-buttons">
        <button class="button-sign-in">Sign In</button>
        <button class="button-register-now">Register Now</button>
        <div class="container-button-forget-password-">
            <button class="button-forget-password">Forget Password?</button>
        </div>
    </div>
</div>