<div class="container-component-brands">
    <div class="component-brands">
        <img src="../../../assets/marks/logo-chanel.png" class="img-brands" alt="channel-mark">
        <img src="../../../assets/marks/logo-louis-vuitton.png" class="img-brands" alt="louis-vuitton-mark">
        <img src="../../../assets/marks/logo-prada.png" class="img-brands" alt="prada-mark">
        <img src="../../../assets/marks/logo-calvin-klein.png" class="img-brands" alt="calvin-klein-mark">
        <img src="../../../assets/marks/logo-denim.png" class="img-brands" alt="denim-mark">
    </div>
</div>