@use '../../../variables.scss';

.container-this-is-what-our-customers-say {
    height: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35%;
}

.container-title-and-description {
    height: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    @extend %font-volkhov;
    font-weight: 500;
    color: #484848;
    font-size: 2.3vw; 
}

.description {
    @extend %font-poppins;
    font-weight: 400;
    font-size: 0.9vw;
    color: #8a8a8a;
}

.container-customer-wall {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-first-customer-feedback {
    position: absolute;    
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #d7d7d7;
    width: 50vw;
    border-radius: 0.6vw;
    z-index: 1;
}

.container-second-customer-feedback {
    position: absolute;    
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #d7d7d7;
    height: 30vw;
    width: 48vw;
    border-radius: 0.6vw;
    left: 7%;
}

.container-third-customer-feedback {
    position: absolute;    
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #d7d7d7;
    height: 30vw;
    width: 48vw;
    border-radius: 0.6vw;
    left: 50%;    
    z-index: 0;
}

.container-first-customer-feedback, .container-second-customer-feedback, .container-third-customer-feedback {
    transition: height 0.8s ease-in-out, left 1s ease-in-out;
}

.first-group {
    width: 15vw;
}

.client-image {
    width: 100%;
    height: 100%;
    border-radius: 1vw;
}

.second-group {
    width: 55%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.report {
    @extend %font-poppins;
    font-size: 0.9vw;
    font-weight: 500;
    color: #484848;
}

.five-stars {
    width: 6vw;
}

.gray-line-style {
    border-top: 0.12rem solid #484848;
    width: 26vw;
}

.customer-name {
    @extend %font-volkhov;
    font-weight: 500;
    color: #484848;
    font-size: 1.5vw;
}

.profession {
    @extend %font-poppins;
    font-weight: 400;
    font-size: 1vw;
    color: #484848;
}

.container-buttons {
    height: 5%;
    width: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-left, .button-right {
    @extend %font-poppins;
    font-size: 1.4vw;
    width: 40%;
    background-color: #e0e0e0;
    color: #484848; 
    border: none;
    border-radius: 4rem;

}

.button-left:hover, .button-right:hover {
    cursor: pointer;
}