@use '../../../../../../variables.scss';

.background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1f1f1f;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;    
}

.background.active {
    opacity: 1; 
    visibility: visible;
}

.background.inactive {
    opacity: 0;
    visibility: hidden;
}

.container-change-password {
    height: 35vw;
    width: 45vw;
    background-color: #ebebeb;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5vw;
}

.container-close-page {
    width: 95%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: end;    
}

.close-icon-button {
    border: none;
    height: 50%;
    background-color: transparent;
}

.close-icon {
    width: 1.5vw;
}

.close-icon-button:hover {
    cursor: pointer;
}

.container-description {
    height: 30%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
}

.padlock-icon {
    width: 3vw;
}

.title {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 2.5vw;
    color: #1f1f1f;
}

.paragraph {
    @extend %font-poppins;
    font-weight: 400;
    font-size: 1vw;
    color: #1f1f1f;
}

.container-inputs {
    height: 30%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input {
    @extend %font-poppins;
    font-weight: 400;
    font-size: 1vw;
    color: #1f1f1f;    
    height: 25%;
    width: 100%;
    border: 0.1vw solid #8a8a8a;
    border-radius: 0.3vw;
    padding-left: 1vw;
    background-color: transparent;
}

.container-button {
    width: 30%;
    height: 8%;
}

.confirm-button {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 0.9vw;
    color: #ebebeb;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    border: none;
    border-radius: 0.5vw;
}

button:hover {
    cursor: pointer;
}