@use '../../../variables.scss';

.container-product {
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    height: 100%;
    width: 79%;
    display: flex;
    flex-direction: row;
}

.container-images {
    width: 46%;
    height: 90%;
    display: flex;
}

.container-details {
    width: 52%;
    display: flex;
    justify-content: end;
}

.details {
    width: 88%;
    display: flex;
    flex-direction: column;
    gap: 5%;
} 

.container-choose-images-and-buttons {
    height: 85%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}

.container-return-image, .container-next-image {
    width: 30%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.return-image, .next-image {
    display: flex;
    align-items: center;
    justify-content: center;    
    border-radius: 10vw;
    border: none;
    background-color: #d8d8d8;
    height: 2.1vw;
    width: 3vw;
}

.top-arrow-icon, .bottom-arrow-icon {
    width: 1.2vw;
}

.container-choose-images {
    height: 110%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    position: relative;
    overflow: scroll;
    scroll-behavior: smooth;    
}

.container-choose-images::-webkit-scrollbar {
    display: none;
}

.div-choose-image {
    height: 5.5vw;
    width: 5.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #ebebeb;
}

.image-unselected {
    border: 0.1vw solid #ebebeb;    
}

.image-selected {
    border: 0.1vw solid #3c3c3c;    
}

.div-choose-image:hover {
    cursor: pointer;
}

.choose-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-see-image {
    width: 80%;
    height: 85%;
}

.current-image {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.container-titles {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-product-name-and-favorite-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-name {
    @extend %font-poppins;
    font-weight: 300;
    width: 65%;
    font-size: 1.1vw;
    color: #1f1f1f;
}

.favorite-button {
    background-color: #ebebeb;
    border: none;
    height: 100%;
    width: 3vw;
    padding-left: 1.5vw;
    border-left: 0.1vw solid #adadad;
}

.container-price {
    display: flex;
    flex-direction: column;
}

.container-price-discount {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.previous-price {
    @extend %font-poppins;
    text-decoration: line-through;
    color: #adadad;
    font-size: 0.9vw;
}

.discount {
    @extend %font-poppins;
    font-size: 0.8vw;
    font-weight: 500;
    padding: 0.2vw 0.4vw 0.2vw 0.4vw;
    background-color: #d80000;
    color: #ebebeb;
}

.current-price {
    @extend %font-poppins;
    font-size: 1.2vw;
    font-weight: 600;
    color: #1f1f1f;    
}

.interest-free-installments {
    @extend %font-poppins;
    font-size: 0.8vw;
    font-weight: 500;
    color: #1f1f1f;    
}

.favorite-image {
    width: 2vw;
}

.container-size {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 9%;
}

.container-buttons-of-all-sizes {
    height: 55%;
    display: flex;
    gap: 2%;
}

.size-title {
    @extend %font-poppins;
    font-size: 0.8vw;
    font-weight: 500;
    color: #1f1f1f;
}

.size {
    @extend %font-poppins;
    font-weight: 400;
    font-size: 0.9vw;
    color: #8A8A8A;
    height: 100%;
    width: 7%;
    background-color: #ebebeb;
    border: 0.1vw solid #EEEEEE;
    border-radius: 0.3vw;
}

.container-quantity {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quantity-title {
    @extend %font-poppins;
    font-size: 0.8vw;
    font-weight: 500;
    color: #1f1f1f;
}

.container-select-quantity-and-add-to-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55%;
}

.container-select-quantity {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.1vw solid #adadad;    
    border-radius: 0.3vw;    
}

.decrease-quantity, .increase-quantity, .quantity {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 0.9vw;     
    width: 29%;
    color: #000000;    
    background-color: #ebebeb;
    border-radius: 0.3vw;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-add-to-cart {
    @extend %font-poppins;
    font-weight: 400;
    font-size: 0.9vw;
    background-color: #4f4f4f;
    color: #ebebeb;
    border: 0.1vw solid #4f4f4f;
    border-radius: 0.3vw;
    width: 70%;
}

.container-carts {
    border: 0.1vw solid #e2e2e2;
    border-radius: 0.6vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.carts-image {
    height: 2vw;
}

.carts-description {
    @extend %font-poppins;
    font-weight: 500;
    color: #1f1f1f;
    font-size: 0.8vw;
}

button:hover {
    cursor: pointer;
}