@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

%font-volkhov {
    font-family: "Volkhov", serif;
    font-style: normal; 
}

%font-poppins {
  font-family: "Poppins", serif;
  font-style: normal;    
}

%font-russo-one {
  font-family: "Russo One", serif;
  font-style: normal;  
}

%logo-brand-style {
    font-weight: 400;
    color: #484848;
}