@use '../../../variables.scss';

.container-shipping-page {
    height: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-bottom: 5vw;
}

.div-direction-row {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1vw;    
}

.div-direction-column {
    height: 89%;
    width: 25%;    
}

.container-title {
    height: 15%;
    width: 85%;    
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2%;
}

.title, .title-separator {
    @extend %font-poppins;
    font-weight: 600;
    font-size: 1.4vw;
    color: #808080;
}

.title:nth-child(3) {
    color: #1f1f1f;
}

.main {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.title-main {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 1.2vw;
    color: #1f1f1f;    
}

.table-shipment {
    width: 100%;
    height: 8vw;
    display: flex;
    flex-direction: column;
    border: 0.1vw solid #808080;
}

.row-table {
    height: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1vw solid #808080;
}

.row-table:last-child {
    border: none;    
}

.table-row-group-one {
    padding-left: 1vw;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2vw;
}

.button-select-shipment {
    width: 4.5%;
    border-radius: 10vw;
    text-align: center; 
    border: 0.1vw solid #808080;
    color: #808080;
}

.value-shipment {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 1vw;
    color: #1f1f1f;    
}

.shipment-type {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 0.85vw;
    color: #1f1f1f;    

}

.table-row-group-two {
    padding-right: 1vw;
    width: 20%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.delivery-data {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 1vw;
    color: #1f1f1f;    

}

.container-finalize-purchase {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.1vw solid #cfcfcf;
    padding: 8% 6% 6% 6%;
}

.finalize-purchase-title {
    @extend %font-poppins;
    font-size: 1.4vw;
    font-weight: 500;
    color: #1f1f1f;
}

.finalize-the-purchase-group-one {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5%;
    border-bottom: 0.1vw solid #cfcfcf;    
}

.container-price, .container-discount, .container-shipping, .container-coupon-applied, .container-total, .container-estimated-delivery, .container-insert-coupom-code {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.group-one-specification, .group-two-specification {
    @extend %font-poppins;
    font-weight: 500;
    font-size: 0.9vw;
    color: #1f1f1f;
}

.finalize-the-purchase-group-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
    border-bottom: 0.1vw solid #cfcfcf;        
    height: 25%;
}

.container-insert-coupom-code {
    height: 35%;
    width: 100%;
}

.input-insert-coupom-code {
    width: 100%;
    height: 100%;
    padding-left: 4%;
    border: 0.1vw solid #808080;
    background-color: transparent;
    border-radius: 0.3vw;
    @extend %font-poppins;
    font-size: 1vw;
    font-weight: 500;
    color: #1f1f1f;
}

.input-insert-coupom-code::placeholder {
    color: #808080;
}

.submit-coupom-code {
    position: absolute;
    right: 7vw;
    height: 4%;
    top: 31.9vw;
}

.container-buttons {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-continue-to-shipping {
    height: 45%;
    border: none;
    @extend %font-poppins;
    font-size: 0.9vw;
    font-weight: 500;
    color: #1f1f1f;
    border-radius: 0.3vw;
}

.button-continue-to-shipping {
    background-color: #1f1f1f;
    color: #ebebeb;
}

button:hover {
    cursor: pointer;
}