<nav-bar></nav-bar>

<div class="container-shipping-page">
    <div class="div-direction-row">
        <div class="container-title">
            <h2 class="title">Address</h2>
            <h2 class="title-separator">></h2>
            <h2 class="title">Shipping</h2>
            <h2 class="title-separator">></h2>
            <h2 class="title">Payment</h2>
        </div>

        <div class="main">
            <div class="container-title-main">
                <h2 class="title-main">Shipment Method</h2>
            </div>
                <table class="table-shipment" [ngStyle]="{ 'height': (this.shipments.length * 4) + 'vw' }">
                    <td class="row-table" *ngFor="let shipment of shipments; let index = index">
                        <div class="table-row-group-one">
                            <button class="button-select-shipment" (click)="setChooseDelivery(index)" [ngStyle]="{ 'color': this.chosenDelivery === index ? '#1f1f1f' : '#ebebeb', 'borderColor': this.chosenDelivery === index ? '#1f1f1f' : '#808080' }">●</button>
                            <p class="value-shipment">{{ shipment.valueShipment }}</p>
                            <p class="shipment-type">{{ shipment.shipmentType }} Shipment</p>
                        </div>
                        <div class="table-row-group-two">
                            <p class="delivery-data">{{ shipment.deliveryData }}</p>
                        </div>                        
                    </td>
                </table>

        </div>
    </div>

    <div class="div-direction-column">
        <div class="container-finalize-purchase">
            <h2 class="finalize-purchase-title">Order Sumary</h2>
            <div class="finalize-the-purchase-group-one">
                <div class="container-price">
                    <h4 class="group-one-specification">Price</h4>
                    <h4 class="group-one-specification">${{ orderSumary.fullPriceWithoutDiscount }}</h4>
                </div>
                <div class="container-discount">
                    <h4 class="group-one-specification">Discount</h4>
                    <h4 class="group-one-specification">- ${{ orderSumary.discount }}</h4>
                </div>
                <div class="container-shipping">
                    <h4 class="group-one-specification">Shipping</h4>
                    <h4 class="group-one-specification">{{ orderSumary.shipping }}</h4>
                </div>
                <div class="container-coupon-applied">
                    <h4 class="group-one-specification">Coupon Applied</h4>
                    <h4 class="group-one-specification">${{ orderSumary.couponApplied }}</h4>
                </div>                                  
            </div>  
            <div class="finalize-the-purchase-group-two">
                <div class="container-total">
                    <h5 class="group-two-specification">TOTAL</h5>
                    <h5 class="group-two-specification">${{ orderSumary.total }}</h5>
                </div>
                <div class="container-estimated-delivery">
                    <h5 class="group-two-specification">Estimated Delivery</h5>
                    <h5 class="group-two-specification"> {{ orderSumary.estimatedDelivery }}</h5>
                </div>                
                <div class="container-insert-coupom-code">
                    <input type="text" placeholder="Coupom Code" class="input-insert-coupom-code">
                    <button>
                        <img src="../../../assets/icons/trailing-icon.svg" alt="icon" class="submit-coupom-code">
                    </button>
                </div>
            </div>
            <div class="container-buttons">
                <button class="button-continue-to-shipping" (click)="continueToPayment()">Continue to Payment</button>
            </div>                    
        </div>                
    </div>
</div>

<footer-bar></footer-bar>