<nav-bar></nav-bar>

<div class="container-shipping-page">
    <div class="div-direction-row">
        <div class="container-title">
            <h2 class="title">Address</h2>
            <h2 class="title-separator">></h2>
            <h2 class="title">Shipping</h2>
            <h2 class="title-separator">></h2>
            <h2 class="title">Payment</h2>
        </div>

        <div class="main">
            <div class="container-title-main">
                <h2 class="title-main">Shipment Method</h2>
            </div>
                <table class="table-shipment" [ngStyle]="{ 'height': (this.shipments.length * 4) + 'vw' }">
                    <td class="row-table" *ngFor="let shipment of shipments; let index = index">
                        <div class="table-row-group-one">
                            <button class="button-select-shipment" (click)="setChooseDelivery(index)" [ngStyle]="{ 'color': this.chosenDelivery === index ? '#1f1f1f' : '#ebebeb', 'borderColor': this.chosenDelivery === index ? '#1f1f1f' : '#808080' }">●</button>
                            <p class="value-shipment">{{ shipment.valueShipment }}</p>
                            <p class="shipment-type">{{ shipment.shipmentType }} Shipment</p>
                        </div>
                        <div class="table-row-group-two">
                            <p class="delivery-data">{{ shipment.deliveryData }}</p>
                        </div>                        
                    </td>
                </table>

        </div>
    </div>

    <div class="div-direction-column">
        <order-sumary></order-sumary>
    </div>
</div>

<footer-bar></footer-bar>